* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow: hidden;
}
.chat_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #8a8888;
  margin: 0 auto;
}

.chat_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #d0cece;
  padding: 0 15px;
}
.header_container_personal_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  height: 100%;
}
.message {
  position: relative;
}
.user_account, .message {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
a.to_account, a.all_new_massages {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #00a9b7;
  font-weight: bold;
}
#user_nm {
  margin-top: 5px;
}
.user_account img {
  width: 50%;
  height: 45%;
}
.message {
  margin-bottom: 20px;
}
.message img {
  width: 60%;
  height: 50%;
}
.new_messages_tag {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #00a9b7;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  left: 55px;
  top: 10px;
}
.header_container_logo {
  width: 70%;
  height: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-left: 150px;
}
.header_container_time {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
  font-size: 18px;
  align-items: center;
}
.timer_online, .current_time {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timer_titles {
  color: #00a9b7;
}
.content_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.chat_users {
  display: flex;
  flex-direction: column;
  border-right: 3px solid #d0cece;
  position: fixed;
  width: 370px;
  overflow-y: scroll;
  height: 90%;
}
.users_online {
  width: 100%;
  display: flex;
  font-size: 18px;
  height: 60px;
  padding: 25px;
  margin-bottom: 30px;
  justify-content: center;
}
.tag_online {
 margin-right: 10px;
}
.users_list {
  display: flex;
  flex-direction: column;

}
.user {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid #d0cece;
  padding: 15px;
}
.user_icon {
  width: 20%;

}
.user_icon img {
  width: 100%;
  border-radius: 50%;
}
.user_name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}
.status_marker {
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4cae4c;
}
.sleep {
  background: #f08427;
}
.new_messages_from_user_tag {
  visibility: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00a9b7;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  padding-top: 7px;
  margin-top: 15px;
}
.active {
  visibility: visible;
}
main {
  width: 100%;
  padding-left: 370px;
}
.tabs {
  position: relative;
  width: 100%;
}
.tab, .tab-title {
  display: inline-block;
  height: 50px;
  width: 300px;
  border-radius: 12px 12px 0 0;
}
.tab input[type="radio"] {
  display: none;
}
.tab {
  margin-top: 10px;
}
.tab:first-of-type {
  margin-left: 3px;
}
.tab-title {
  background: #00a9b7;
  padding: 10px;
  border: 1px solid #d0cece;
  border-bottom: none;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
.tab-content {
  position: absolute;
  border: 3px solid #d0cece;
  border-left: none;
  padding: 10px;
  left: 0;
  width: 100%;
  height: 780px;
  display: none;
  border-top: none;
  outline: 3px solid #d0cece;
}
.tab :checked + .tab-title {
  position: relative;
  background: #fff;
  color: #8a8888;
  font-size: 22px;
 //top: 4px;
  z-index: 1;
}

.tab :checked ~ .tab-content {
  display: block;
  padding-bottom: 130px;
}

.user_link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.user_link:hover {
  background: #e5f5f6;
}
.wrap_for_users_messages {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  overflow-y: scroll;
  flex-direction:column;
  align-items: flex-start;
}
.users_messages_text {
  padding: 10px;
  background: #f1f0f0;
  border-radius: 25px;
  max-width: 725px;
  margin-bottom: 20px;
}
.user_message_name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.user_message_date {
  font-size: 12px;
  font-weight: normal;
}
.your_messages_text {
  display: flex;
  align-self: flex-end;
  padding: 10px;
  background: #00a9b7;
  color: #fff;
  border-radius: 25px;
  max-width: 725px;
  margin-bottom: 10px;
}
.area_create_new_message {
  position: absolute;
  top: 820px;
  right: 10px;
  padding: 0 20px;
  width: 80%;
}
.field_for_typing {
  position: relative;
  margin: 0 0 15px;
}
.type_message {
  width: 100%;
  border: 2px solid #d0cece;
  border-radius: 25px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
}
.send {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  color: #00a9b7;
  border: none;
  bottom: 0;
  box-sizing: border-box;
  line-height: 100%;
  background: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
textarea:focus{
  outline: none;
}
input:focus {
  outline: none;
  border: none;
}
.wrapper_for_customize {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}
.symbols {
  display: flex;
}
.symbols div {
  margin: 0 10px;
}
.field_for_customize button {
  border: 1px solid #ccc;
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 10px;
  margin-right: 10px;
}
.field_for_customize button:first-of-type {
  font-weight: 700;
}
.field_for_customize button:nth-of-type(2) {
  font-style: italic;
}
.field_for_customize button:last-of-type {
  text-decoration: underline;
;
}
.registration-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  margin: 250px auto;
  padding: 26px 24px 46px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  position: relative;
}
#my {
  display: flex;
  flex-direction: column;
}
#name {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  margin: 30px 6px 50px 0;
  background: #e7f8f9;
  border: 1px solid #ddd;
  outline: 0;
}
#name:active, #name:hover, #name:focus, #name:visited {
  background: #e7f8f9;
}
.input_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btnReg {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #00a9b7;
  cursor: pointer;
}
.btnEnter {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
  background: #00a9b7;
  border: 1px solid #038994;
  opacity: 0.8;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.reg {
  text-align: center;
  color: #494848;
}
#notification {
  display: none;
  position: absolute;
  top: 150px;
  font-size: 12px;
  color: #ff3d39;
}
.modal-header {
  width: 100%;
  padding: 21px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}
.modal-content {
  width: 100%;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 400;
  color: #222;
}
#btnOk {
  position: relative;
  right: -200px;
}
.separator {
width: 100%;
}
.separator_date {
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  position: relative;
  top: -12px;
  left: 43%;
  padding: 0 10px;
  color: #00a9b7;
}
#to_account:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 15px;
  top: 10px;
  right: 0;
  bottom: 5px;
  z-index: 1;
  background: rgb(241, 240, 240);
  color: #8a8888;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  padding-top: 20px;
  opacity: 0.8;
}